.container {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background: red;
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 10px;
}

.header {
    background: blue;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.main {
    background: yellow;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}